*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.container{
    /* background-color: white; */
    width: 100vw;
    /* height: 4000px; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
height: 100px;
}
.navList{
    position: relative;
    
    display: flex;
    list-style-type: none;
    gap: 40px;
font-size: 20px;
    color: rgb(40, 38, 38);
}

.subMenuOne{
    position: absolute;
     top: 45px;
     
    
    border: 1px solid black;
    
    background-color: lightgoldenrodyellow;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    box-shadow: -1px 8px 16px -8px rgb(80, 74, 74);
    display: none;
}

.oneMenu{
    margin-left: -38px;
}
.twoMenu{
    margin-left: 15px;
}

.subList:hover{
    background-color: orange;
    border-radius: 20%;
    
}
.subList:hover >.subMenuOne {
    display: block;
   /* background-color: darkblue; */
}

.heroSection{
    margin-top: 10px;
}
.heroSectionHeading{
    font-size: 30px;
    margin: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}


.heroSectionHeading>.cow{
    color: orangered;

}

.heroSectionContent{
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
}
.heroLeft{
    width: 50%;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: end;
}
.heroLeft>img{
    width: 450px;
    /* margin-left: 60px; */
}
.heroRight{
    width: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    text-align: left;
    font-weight:bold;
    word-spacing: 2px;
    text-indent: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.workContainer{
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.work{
    font-weight: lighter;
    align-items: center;
    /* gap: 20px; */
    display: flex;
    width: 40%;
    gap: 20px;
    margin-top: 30px;
}
.workText{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.workText>h1{
    font-weight: 100;
    margin-bottom: 6px;
}

.workImg{
    
    background-color: black;
    padding: 30px;
    border-radius: 50%;
}
.workImg>img{
    width: 30px;
}

.ourAmenities{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
align-items: center;
}


.ourAmenContainer{
    width: 80%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
}
.itemOne{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.itemImage{
    background-color: black;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.AmenBtn{
    background-color: rgb(243, 67, 3);
    padding: 10px 20px;
    border: none;
    color: white;
    margin: 50px 0;
}
.addressMap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
    text-align: center;
}

.faqContainer{
    background-color: WHITE;
    padding: 30px 100px;
}
.faqItemContainer{
    /* background-color: transparent; */
   padding: 20px 0;
}

.faqHeading{
    box-shadow: 53px 7px 170px -14px rgb(174, 174, 174);
    background-color: rgb(207, 207, 207);
    padding: 10px 0;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
}
.faqHeading>button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 20px;
    background-color: black;
    color: aliceblue;
}

.faqContent{
    padding: 30px 20px;
    background-color: white;
    display: none;
}

.footer{
    /* background-color: lawngreen; */
    
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100vw;
z-index: -1;
display: flex;
justify-content: space-around;
/* margin: 0px 80px; */
}
.footerColumn{
    
    list-style-type: none;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   margin: 40px 0;
}

.footerColumn>ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    font-weight: bolder;
    font-size: 18px;
}



.push{
    margin-bottom: -100px;
    height: 700px;
    width: 100%;
}



